<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_DATABASE" value="ParsBackTest"/>
        <env name="MAIL_MAILER" value="smtp"/>
        <env name="MAIL_HOST" value="smtp.mailtrap.io"/>
        <env name="MAIL_PORT" value="2525"/>
        <env name="MAIL_USERNAME" value="0ea5de961b757e"/>
        <env name="MAIL_PASSWORD" value="0446ddbd74262a"/>
        <env name="MAIL_ENCRYPTION" value="tls"/>
        <env name="MAIL_FROM_ADDRESS" value="hello@example.com"/>
        <env name="MAIL_FROM_NAME" value="Laravel"/>
        <env name="QUEUE_CONNECTION" value="database"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
